.taskList{
    button{
        margin-left: 5px;
    }
}

.Color{
    
    display: flex;
    flex-direction: row;
    gap: 5px;
    button{
        background-color: rgb(205, 116, 0) !important;
    }

}

.input{
    height: 30px;
    margin-top: 5px;
    border-radius: 10px;
}

.editButton{
    background-color: rgb(205, 116, 0) !important;

}

.deleteButton{
    background-color: rgb(205, 116, 0) !important;

}
