.taskList{
    button{
        margin-left: 5px;
    }
}

.Color{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    
    button{
        background-color: rgb(205, 116, 0) !important;
    }

}

.input{
    height: 30px;
    margin-top: 5px;
    border-radius: 10px;
}

.editButton{
    background-color: rgb(205, 116, 0) !important;

}

.deleteButton{
    background-color: rgb(205, 116, 0) !important;

}

.titulo{
    
    text-align: center;
    margin-top: 50px;
    min-width: none;
}
